<div [dragula]="containerName" [id]="containerId" [(dragulaModel)]="templates" class="draggable-list__container">
    <draggable-list-item *ngFor="let template of templates; index as stepIndex; trackBy: trackByFn"
    [class.hasParent]="template.parentId !== '0'"
    [class.hasChildren]="template.children.size > 0"
    [name]="template.name"
    [description]="template.description"
    [imageSource]="template.image"
    (showSettings)="openSettings(template.typeId)"
    (addConnection)="addRandomStep(stepIndex)">
  </draggable-list-item>
</div>

